@import "tailwindcss";

@theme {
  --font-sans: Roboto, system-ui, sans-serif;
  --font-heading: "Barlow Condensed", sans-serif;

  --radius-4xl: 2rem;

  --shadow-neumorphic: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
  --shadow-neumorphic-inset:
    inset 8px 8px 16px #d1d9e6, inset -8px -8px 16px #ffffff;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}